name: Get SHA-1 Fingerprint

on:
  workflow_dispatch:

jobs:
  get-sha1:
    runs-on: ubuntu-latest
    
    steps:
      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > upload-keystore.jks
      
      - name: Get SHA-1
        run: |
          keytool -list -v -keystore upload-keystore.jks -storepass "${{ secrets.KEYSTORE_PASSWORD }}" -alias "${{ secrets.KEY_ALIAS }}" | grep SHA1
